<div class="card">
  <div class="card-header">
    <mat-button-toggle-group>
      <mat-button-toggle value="play" [checked]="statusPlay" (change)="statusPlay = $event.source.checked; statusPause = !statusPlay">
        <mat-icon>chevron_right</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle [checked]="statusPause" (change)="statusPause = $event.source.checked; statusPlay = !statusPause"
        value="pause">
        <mat-icon>pause</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="card-body">
    <mat-progress-bar mode="determinate" [value]="progressbarValue"></mat-progress-bar>
    <div #gmap25 style="width:100%;height:600px"></div>
  </div>
</div>
